


/* ......................................next................................................. */


.contN{
    text-align: center;
    background-color: rgb(252, 252, 252);
    padding-top: 5%;

}

.cal-text{
        font-weight: lighter;
        color: gray;
        font-size: 35px;
}


.easy{
    font-size: 800%;
    font-weight: bolder;
    color: black;
    text-shadow: 5px coral;
}
.schedule{
    font-style: italic;
}
.ahead{
    font-weight: bolder;
    font-size: 80%;
    color: orangered;
    font-family: sofia;
    font-style: italic;
}
.form-search{
    padding-left: 30%;
    padding-top: 5%;
    
}
.input-form{
    height: 5rem;
    width: 10rem;
    border-radius: 75px;
    border-top: none;
    border-bottom: none;
    color: grey;
    font-size: x-large;
    border-color: green;
    text-align: center;
    position: relative;
    

}
.search-button{
    height: 5rem;
    width: 10rem;
    border-radius: 75px;
    border: none;
    background-color: green;
    font-size: x-large;
    color: #fff;
    position: relative;
   
}

.nav-top{
    height: 8rem;
    background: rgb(255, 123, 0);
    list-style-type: none;
     
}
/* 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111111;
  } */
.list{
    list-style-type: none;
    overflow: hidden;
    justify-content: center;
    
}

.list2{
    float: center;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    
    
    
    
}

.list2 a {
    display: block;
    text-align: center;
    color: black;
}

.logIN{
    position: relative;
    top: 1rem;
    right: 5rem;
    color: black;
    font-size: 30px;
    font-weight: bold;
    right: 6rem;
}
.search-but{
    width: 10rem;
    height: 5rem;
    background-color: rgb(255, 81, 0);
    border: none;
    border-radius: 75px;
    color: #fff;
    position: relative;
    bottom: 2.7rem;
    font-weight: bold;
}

.cal-app{
    color: gray;
    font-weight: bolder;
    font-family: garamond;
}
.cal-app1{
    color: gray;
    font-weight: lighter;
    font-family: garamond;
    font-size: 30px;
    font-stretch: 5px;
    padding-top: 10x;
    height: 10px;
}
.my-slide{
    background-color: rgb(253, 255, 255);
    height: 20rem;
    padding-bottom: 10%;
    padding-top: 5px;
}
.simplified{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 250%;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 10px;
    border: solid 1px;
    border-top: none;
    border-radius: 75px;
    border-width: 1px;
    border-color: rgb(248, 200, 161);

}

.simplified2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 300%;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 10px;
    border: none;
    border-top: none;
    border-radius: 75px;
    border-width: 1px;
    border-color: rgb(248, 200, 161);
}


.thousand{
    color: orangered;
    font-style: italic;
}
.card1-row{
    width: 150%;
    text-align: center;
    background-color: rgb(212, 211, 248);
    padding-top: 20%;
    padding-bottom: 20%;
    float: left;
    margin-left: 5%;
    margin-right: none;
}
.schedule2{
    font-size: 70px;
    color: rgb(204, 48, 9);
    font-weight: bold;
    margin-top: 20px;
    padding-top: 20px;
}
.Solutions-box{
    background-color: rgb(237, 235, 250);
}

.carDX{
    height: 24rem;
    text-align: center;
    margin: 10%;
    margin-top: 2%;
    padding: 5%;
    font-size: 25px;
    font-weight:400;
    color: black;
    border-radius: 3%;
}
.schedule-meeting{
    background-color: rgb(243, 241, 241);
}

.box {
    transition: box-shadow .3s;
    color: rgb(122, 122, 122);
    width: 900px;
    height: 400px;
    margin: 50px;
    border-radius:15px;
    border: 2px;
    background: rgb(242, 249, 255);
    float: left;
    text-align: center;
    padding-top: 65px;
    font-size: 30px;
    font-weight: 400px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 30px;
    justify-content: space-between;
    
  }
  .box:hover {
    box-shadow: 0 0 50px rgb(201, 201, 236);
    background-color: #fff;
    color: black; 
  }